body {
    font-family: 'Mali', cursive;
    font-size: 30px;
    color: black;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 217px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    background-color: green
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

.logo {
    width: 20%;
    length: 20%;
}

.info {
    color: white;
    background-color: black;
    opacity: 0.8;
    display: block;
    font-size: 50%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.toppic {
    margin-left: 120px;
    margin-top: 5px;
    height: 40%;
    width: 80%;
}

.heading {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 90%;
}

.panel {
    padding: 18px;
    background-color: silver;
    display: none;
    overflow: hidden;
}

.topic {
    font-weight: bolder;
    font-size: 200%;
    font-style: italic;
}

.func {
    color: white;
}

.tab {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th {
    max-width: 33%;
}

#p1 {
    background-color: yellow;
}

#p2 {
    display: none;
}

.review,
.toptrend {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.team {
    background-color: yellowgreen;
}

.box {
    background-color: rgba(26, 7, 7, 0.8);
}

.flex {
    display: flex;
}

.slogan {
    margin-top: 50px;
    margin-left: 200px;
    font-family: 'Mali', cursive;
}

.ttpic {
    width: 18rem;
    padding-bottom: 0px;
    padding: 0px;
    margin: 0px;
}

.social {
    padding-left: 200px;
    padding-top: 50px;
}

.mainheading {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 70px;
}

.team-pic {
    margin-left: 60px;
    height: 400px;
    width: 400px;
    margin-right: 60px;
}